body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.body {
    flex: 1;
    display: flex;
}

.container {
    display: flex; 
    flex-wrap: wrap;
    max-width: 832px;
    min-width: 832px;
}

/* .box:hover {
    background-color: red;
} */

